body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 125px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif; 
      
}

.top-links{
    position: absolute;
    top: 10px;
    right: 20px;
    
}

.search-container {
    display: flex;
    align-items: center;
    width: 550px;
    max-width: 90%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px;
    background: white;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search-container:hover {
    box-shadow: 0 1px 8px rgba(32, 33, 36, 0.38);
}

h1{
    width: 272px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.search{
    display: flex;
    align-items: center;
    width: 500px;
    max-width: 90%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38);

}
.search:hover{
box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38);


}

input[type="text"]
{
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    
}

.buttons{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}


input[type="submit"]
{
    padding: 10px 20px;
    font-size: 14px;
    background-color: #f8f9fa;
    border: 1px solid #dfe1e5;
    color: #3c4043;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
}

input[type = "submit"]:hover{
    background-color: lightblue;
}

/* Advanced Search */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 450px;
    
}
input[name="as_q"]{
    border: 1px solid black;
}

label {
    font-size: 14px;
    color: #5f6368;
    margin-bottom: 5px;
    
}

.blue-btn {
    background-color: #4285f4;
    color: white;
    border: none;
}

.blue-btn:hover {
    background-color: #357ae8;
    border: 1px solid black;
}